.intake-page {
  padding: 16px;
  margin: 0px;
}

.toolbar {
  margin-bottom: 12px;
}

.edi-actions {
  margin-top: 12px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 23px;
}

.dx-list-items  .dx-item-content .dx-list-item-content{
  width: 20px;
}

.ml-10 {
  margin-left: 10px;
}