.intake-page {
  padding: 16px;
}

.toolbar {
  margin-bottom: 12px;
}

.edi-actions {
  margin-top: 12px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 23px;
}

::ng-deep .loadpo-popup {
  .dx-overlay-content {
    width: 1200px !important;
  }
}

.load-po-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
  padding-top: 15px;
  border-top: 1px solid #ddd;
}