<div class="intake-page">

  <div class="edi-actions">
    <dx-drop-down-button
      text="EDI"
      icon="plus"
      stylingMode="contained"
      [items]="ediOptions"
      displayExpr="text"
      keyExpr="id"
      (onItemClick)="onEdiAction($event)">
    </dx-drop-down-button>
  </div>

  <dx-data-grid
    [dataSource]="intakes"
    [showBorders]="true"
    [columnAutoWidth]="true"
    [hoverStateEnabled]="true"
    [loadPanel]="{ enabled: loading }">

    <dxo-paging [pageSize]="20"></dxo-paging>
    <dxo-sorting mode="multiple"></dxo-sorting>

    <dxi-column dataField="id" caption="ID"></dxi-column>
    <dxi-column dataField="client" caption="Client"></dxi-column>
    <dxi-column dataField="fileName" caption="File"></dxi-column>
    <!-- <dxi-column dataField="status" caption="Status"></dxi-column>
    <dxi-column dataField="uploadedAt" caption="Uploaded"></dxi-column> -->
    <dxi-column dataField="pltQty" caption="Pallet Qty"></dxi-column>
    <dxi-column dataField="ctnQty" caption="Pallet Qty"></dxi-column>
    <dxi-column datafield="transportLocations.locnCode" caption="From Location"></dxi-column>

  </dx-data-grid>

  <input
    #poFileInput
    type="file"
    hidden
    accept="*"
    (change)="onPoFileSelected($event)" />

</div>
<app-load-po-popup
  [visible]="showLoadPoModal"
  [loadingPos]="loadingPos"
  [availablePos]="availablePos"
  [selectedPo]="selectedPo"
  (close)="closeLoadPoModal()"
  (poSelected)="onPoSelected($event)"
  (confirmLoad)="onLoadPoConfirm()">
</app-load-po-popup>